

.main.desktop {
    background-image: url(../../../images/bgWolf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main h1 {
    font-size: xx-large;
    margin-bottom: 10px!important;
    line-height: 1em;
}

.content-button h1 {
    font-size: xx-large;
    margin-bottom: 10px!important;
    line-height: 1em;
}
