.vision {
    background-image: url(../../../images/WelcomeWolves.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@include media( '<=medium' ) {
.vision {
    background-image: url(../../../images/WelcomeWolvesMobile.jpg);

}
}