

* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
}

.bgImage {
width: 100%;
height: auto;
object-fit: cover;
position: absolute;
bottom:0;
z-index: -1000;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1000;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  bottom: 0;

}

.desktop .content img.logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-top: 80px;

}
.content.mobile img.logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-top: 120px;

}
.content img.bgImage {
bottom: 0;
} 

.content-button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  z-index: 100;

  
}

.main .content-button {
  padding-bottom: 10%;
}
.mobile .content-button {
  padding-bottom: 5%;
}
.content-button img {
height: 24px;
width: auto;

}