

* {
  margin: 0;
  padding: 0;
}


.main-container {
  width: 100%;
  height: 100vh;
}

.logo {
  z-index: 10;
}
.bgImage {
width: 100%;
height: auto;
object-fit: cover;
position: absolute;
bottom:0;
z-index: -1000;
}
.video-wrapper {
  position: relative;
overflow: hidden;
width: 100%;
height: 100%;

}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: bottom;
}

.content {

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  bottom: 0;

}

.desktop .content img.logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-top: 80px;

}
.content.mobile {
 position: fixed;
  width: 100%;
  height: 100%;

}
.content.mobile img.logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-top: 80px;

}

.content-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 100;
  bottom: 0;
  
}

.main-container .content-button {
  padding-bottom: 150px;
}
.mobile .content-button {
  padding-bottom: 20%;
}
.content-button img {
height: 24px;
width: auto;

}

@include media( '<=1024px' ) {
  .desktop .content img.logo {
  padding-top: 5%;
  }

  .main-container .content-button {
    padding-bottom: 5%;
  }

}