.discord {

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.discord-inner {

	// Affects only discord full
	> .discord-content + .discord-figure,
	> .discord-figure + .discord-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .discord-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
    .countdown-section {
        margin-top: 1em;
    }
    .countdown-section h4 {
        margin-top: 2em;
        margin-bottom: 0 !important;
    }
}

@include media( '<=medium' ) {

	.discord {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.discord {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.discord-inner {

		// Affects only discord full
		> .discord-content + .discord-figure,
		> .discord-figure + .discord-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}

}
